
<div *ngIf="route">
    <h2><span jhiTranslate="routeServiceApp.route.detail.title">Route</span> {{route.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="routeServiceApp.route.isReady">Is Ready</span></dt>
        <dd>
            <span>{{route.isReady}}</span>
        </dd>
        <dt><span jhiTranslate="routeServiceApp.route.time">Time</span></dt>
        <dd>
            <span>{{route.time}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'route-route-service/'+ route.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
